<div class='simple_captcha'>
  <div class='simple_captcha_image'>
  </div>
  
  <div class='simple_captcha_field'>
    <%= text_field_tag(:captcha, nil, {:autocomplete => 'off', :required => 'required', :placeholder => 'enter text', :class => 'form-control'}) %>
  </div>
</div>
