<% provide(:title, 'All managers') %>
<h1>All Managers</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-4">
    <ul class="consultants">
      <% @managers.each do |man| %>
	<li><%= link_to man.name, edit_manager_path(man) %></li>
      <% end %>
    </ul>
  </div>
</div>
