%ul
  %li
    $299 USD Expatriate federal income tax return
    %br
    (includes Forms 1040, Form 2555 and all other forms not listed below)
  %li $135 USD Foreign tax credits (Form 1116)
  %li $85 USD Itemized deductions (Schedule A)
  %li $35 USD Interest and Dividends (Schedule B)
  %li $125 USD Self Employed (Schedule C)
  %li $75 USD Capital gains (Schedule D)
  %li $125 USD Rental and passive income (Schedule E)
  %li $175 USD State tax return (if applicable)
  %li $75 USD Extension (if applicable)
  %li
    $75 USD Disclose foreign bank accounts
    %br
    (Form TD F 90-22.1, up to 5 bank accounts, if applicable)
  %li $75-150 USD Disclose foreign financial assets (Form 8938, if applicable)
