%p
  To begin the process, please complete our 2012 and 2014 US Tax Organizer forms shown below in Excel format, or click on the icon to the right for our online tax notebook.
.col-sm-4.col-sm-offset-1
  %p
    %a{ :href => "https://s3.amazonaws.com/expatcpa/questionnaires/2014.xls" } 2014 US Tax Organizer
  %p
    %a{ :href => "https://s3.amazonaws.com/expatcpa/questionnaires/2013.xlsx" } 2013 US Tax Organizer
  %p
    %a{ :href => "https://s3.amazonaws.com/expatcpa/questionnaires/2012.xlsx" } 2012 US Tax Organizer
.col-sm-2
  %h5.center.bump-down OR
.col-sm-4
  %a{ :href => "https://www.taxnotebook.com/tnstart.asp?welcome=JY1361507", :target => "_blank" }
    %img{ :src => "http://d21c7j241p6103.cloudfront.net/cms/files/files/000/000/061/original/TaxNotebookN.png" }
.clear
