%p
  Thank you for your submission. To get started please find below our tax organizer and fee schedule. We look forward to providing you with professional and timely tax services. We have been serving the expatriate community since 1994 and we have American expatriate clients living in nearly every major country of the world. We have also been very successful in filing the delinquent returns and still being able to elect the foreign earned income exclusion.
  
  