<!DOCTYPE html>
<html>
<head>
  <title>ExpatCPA | 500 Error</title>
  <style>
    div.shell {
      text-align: center;
      margin-top: 60px;
    }
  </style>
</head>
<body>
  <div class="shell">
    <h3>Internal Server Error - 500</h3>
    <p>This Error should not have happened.  I am unable to provide you with any further information.  You could try accessing our <a href="/">Home Page</a>.  If that does not work I would suggest closing your browser tab and trying something else.  We apologize for any inconvenience.</p>
    <h4>ExpatCPA</h4>
    <h5>info@expatcpa.com - (714) 939-7670</h5>
  </div>
</body>
</html>
