@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
$gradientGray: #CCC;
$grayblue: #223355;
$textlight: #888;
$textdark: #777;
$shadowColor: #999;

@mixin border-radius ($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@mixin shadow ($spread) {
  box-shadow: 0 0 3px $spread $shadowColor;
-moz-box-shadow: 0 0 3px $spread $shadowColor;
-webkit-box-shadow: 0 0 3px $spread $shadowColor;
}

.center {text-align: center; margin-left: auto;}
.w100   {width: 100%;}
.w50    {width: 50%;}
.pr     {position: relative;}
.pa     {position: absolute;}
.clear  {clear: both;}
.fixed  {position: fixed;}
.bump-down {margin-top: 20px;}
.italic {font-style: italic;}
.left   {text-align: left;}
.dark   {color: $textdark;}
.sub-heading {font-size: 1.2em; font-weight: 700; color: $textdark;}
.shadow {@include shadow(5px);}

#whole-background {
  top: 0;
}
#black-band {
  background-color: black;
  height: 115px;
}
#white-touch {
  height: 1px;
  background-color: white;
}
#gradient-band {
  background: -webkit-linear-gradient($gradientGray, white); /* For Safari */
  background: -o-linear-gradient($gradientGray, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($gradientGray, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient($gradientGray, white); /* Standard syntax */
  height: 250px;
} 
header {
  .navbar {
    margin: 5px;
  }
}
#container-wrapper {
  display: inline-block;
  padding: 10px;
  margin-top: 50px;
  background-color: rgba(255,255,255,.3);
  border: 1px solid rgba(255,255,255,.3);
}
.container {
  background-color: white;
  @include shadow(0);
}
#body-content {
  font-family: arial,verdana,sans-serif;
  p {
    font-size: .9em;
    text-align: left;
    color: $textdark;
    font-weight: 300;
  }
  h1 {
    color: $textdark;
    font-size: 1.4em;
    line-height: 1.5;
  }
  h3 {
    line-height: 1.7;
    font-size: .9em;
    color: $textdark; 
  }
  h6 {
    margin: 0;
  }
  .bubble {
    background-image: image-url("bubble.jpg");
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    height: 250px;
    .exerpt {
      font-style: oblique;
      color: black; 
      font-family:"Times New Roman", Times, serif;
      text-align: left;
      height: 110px;
      padding: 30px 60px 30px 50px;
      overflow-y: hidden;
    }
  }
  .head-shot {
    border: solid $grayblue thin;
    width: 45%;
    @include shadow(0);
    margin-bottom: 2%;
    &:hover {
      cursor: pointer;
    }
  }
  #worker {
    img {
      border: solid $grayblue thin;
      @include shadow(0);
    }
    .fl {
      float: left;
      width: 50%;
      margin-right: 4%;
    }
  }
}
footer {
  margin-top: 30px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $grayLight;
    &:hover {
      color: $grayLight;
    }
  }
  p {
    line-height: .5;
    text-align: center;
  }
}
/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}
