@import "bootstrap";

/* mixins, variables, etc. */

$grayMediumLight: #eaeaea;
$gradientGray: #CCC;
$grayblue: #223355;
$textlight: #888;
$textdark: #777;
$shadowColor: #999;
$grayLight: #999;

@mixin border-radius ($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
          border-radius: $radius;
}
@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
@mixin shadow ($spread) {
  box-shadow: 0 0 3px $spread $shadowColor;
-moz-box-shadow: 0 0 3px $spread $shadowColor;
-webkit-box-shadow: 0 0 3px $spread $shadowColor;
}

.btn-custom { @include border-radius(25px); font-size: 25px; background-color: hsl(221, 100%, 15%) !important; background-repeat: repeat-x; filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#7fa7ff", endColorstr="#00184c"); background-image: -khtml-gradient(linear, left top, left bottom, from(#7fa7ff), to(#00184c)); background-image: -moz-linear-gradient(top, #7fa7ff, #00184c); background-image: -ms-linear-gradient(top, #7fa7ff, #00184c); background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7fa7ff), color-stop(100%, #00184c)); background-image: -webkit-linear-gradient(top, #7fa7ff, #00184c); background-image: -o-linear-gradient(top, #7fa7ff, #00184c); background-image: linear-gradient(#7fa7ff, #00184c); border-color: #00184c #00184c hsl(221, 100%, 0%); color: #fff !important; text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.99); -webkit-font-smoothing: antialiased;
   &:hover {
     text-decoration: none;
   }
}

.center {text-align: center; margin-left: auto;}
.w100   {width: 100%;}
.w50    {width: 50%;}
.pr     {position: relative;}
.pa     {position: absolute;}
.clear  {clear: both;}
.fixed  {position: fixed;}
.bump-down {margin-top: 20px;}
.bump-way-down {margin-top: 60px;}
.italic {font-style: italic;}
.left   {text-align: left;}
.dark   {color: $textdark;}
.sub-heading {font-size: 1.2em; font-weight: 700; color: $textdark;}
.shadow {@include shadow(5px);}

#whole-background {
  top: 0;
}
#black-band {
  background-color: black;
  height: 115px;
}
#white-touch {
  height: 1px;
  background-color: white;
}
#gradient-band {
  background: -webkit-linear-gradient($gradientGray, white); /* For Safari */
  background: -o-linear-gradient($gradientGray, white); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($gradientGray, white); /* For Firefox 3.6 to 15 */
  background: linear-gradient($gradientGray, white); /* Standard syntax */
  height: 250px;
} 
header {
  nav {
    text-align: left;
    ul.nav {
      li.dropdown:hover ul.dropdown-menu{
        display: block;   
      }
      ul.dropdown-menu {
	margin-top: 0;
      }
      li.cameo {
	display: inline-block;
	a {
	  color: rgb(119, 119, 119);
	  &:hover {
	    color: rgb(51, 51, 51);
	    background-color: transparent;
	  }
	}
      }
    }
  }
  #ban-logo {
    margin-top: 90px;
  }
  #gallery {
    position: relative;
    height: 330px;
  }
  .ban-pic {
    width: 100%;
    position: absolute;
    top: 20px;
    left: 0;
    @include shadow(0);
  }
}
#container-wrapper {
  display: inline-block;
  padding: 10px;
  margin-top: 50px;
  background-color: rgba(255,255,255,.3);
  border: 1px solid rgba(255,255,255,.3);
}
.container {
  background-color: white;
  @include shadow(0);
}
#body-content {
  table.phone {
    td {
      color: $textdark;
      font-weight: 300;
      font-size: .9em;
      text-align: right;
      padding-right: 20px;
    }
  }
  font-family: arial,verdana,sans-serif;
  p, ul, ol {
    font-size: .9em;
    text-align: left;
    color: $textdark;
    font-weight: 300;
    a {
      color: $grayblue;
    }
  }
  h1 {
    color: $textdark;
    font-size: 1.4em;
    line-height: 1.5;
  }
  h3 {
    line-height: 1.7;
    font-size: .9em;
    color: $textdark; 
  }
  h6 {
    margin: 0;
  }
  .bubble {
    background-image: image-url("bubble.jpg");
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    height: 250px;
    .exerpt {
      height: 135px;
      padding: 30px 60px 30px 50px;
      overflow-y: hidden;
      p {
	font-style: oblique;
	line-height: 1em;
	color: black; 
	font-family:"Times New Roman", Times, serif;
	text-align: left;
      }
      h5 {
	text-align: right;
      }
    }
  }
  #testify-page {
    p {
      font-style: oblique;
      color: black; 
      font-family:"Times New Roman", Times, serif;
      text-align: left;
    }
    h5 {
      text-align: right;
      margin-right: 50px;
    }
  }
  .head-shot {
    border: solid $grayblue thin;
    width: 45%;
    @include shadow(0);
    margin-bottom: 2%;
    &:hover {
      cursor: pointer;
    }
  }
  #worker {
    img {
      border: solid $grayblue thin;
      @include shadow(0);
    }
    .fl {
      float: left;
      width: 50%;
      margin-right: 4%;
    }
  }
}
footer {
  margin-top: 30px;
  padding-top: 5px;
  border-top: 1px solid $grayMediumLight;
  color: $grayLight;
  a {
    color: $grayLight;
    &:hover {
      color: $grayLight;
    }
  }
  p {
    line-height: .5;
    text-align: center;
  }
}
/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}
