.email-message {
  p {
    text-align: left;
  }
  ul {
    padding-left: 20px;
    text-align: left;
  }
  h6 {
    text-align: left;
    margin-left: 26px;
  }
  li {
    padding-left: 20px;
  }
  span.cost {
    font-weight: 700;
    float: left;
    width: 115px;
  }
}
