<footer class="footer">
  <h6>Expat CPA | Cloud-Based Tax Preparation | American Expatriate Tax Services | US Expat Tax | &copy;2014 | All Rights Reserved</h6> 
  <h6>info@expatcpa.com - (714) 939-7670 - One City Boulevard West, Suite 870, Orange, CA 92868</h6>
</footer>
