<header>
  <div class="row">
    <div class="col-md-4 col-md-offset-1 col-sm-4">
      <%= image_tag "expatcpa_banner2.jpg", id: "ban-logo" %>
    </div>
    <div id="gallery" class="col-md-6 col-sm-8"></div>
  </div>
  <div class="clear"></div>
  <nav class="navbar navbar-default" role="navigation"> 
    <ul class="nav">
      <% page = Cms::Site.first.pages.root %>
      <li class="cameo"><%= link_to page.label, page.full_path %></li>
      <% Cms::Site.first.pages.root.children.published.each do |page| %>
	<li class="dropdown cameo">
	  <%= link_to page.label, page.full_path, class: "dropdown-toggle", :data => {:toggle => "dropdown"} %>
	  <% if page.children.published.any? %>
	    <ul class="dropdown-menu">
	      <% page.children.published.each do |child| %>
		<li><%= link_to child.label, child.full_path %></li>
	      <% end %>
	    </ul>
	  <% end %>
	</li>
      <% end %>
    </ul>
  </nav>
</header>
