<header>
  <div class="row">
    <div class="span4 offset1">
      <%= image_tag "expatcpa_banner2.jpg", id: "ban-logo" %>
    </div>
    <div id="gallery" class="span6"></div>
  </div>
  <div class="clear"></div>
  <div class="navbar">
    <div class="navbar-inner">
      <nav> 
	<ul class="nav">
	  <% Cms::Site.find_by_hostname(Expat::Application.config.site).pages.root.children.published.each do |page| %>
	    <% unless (page.label == 'Property Listings') || page.label.index('Corner') %>
	      <li class="cameo"><%= link_to page.label, page.full_path %></li>
	    <% end %>
	  <% end %>
	  <% page = Cms::Site.find_by_hostname(Expat::Application.config.site).pages.root %>
          <li><%= link_to page.label, page.full_path %></li>
	</ul>
      </nav>
    </div>
  </div>
</header>
