<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class=""> <!--<![endif]-->
  <%= render 'layouts/standard_head' %>
  <body class="center">
    <div id="whole-background" class="w100 pa">
      <div class="w100" id="black-band"></div>
      <div class="w100" id="white-touch"></div>
      <div class="w100" id="gradient-band"></div>
    </div>
    <div class="pr">
      <div id="container-wrapper">
        <%= render 'layouts/standard_container' %>
      </div>
    </div>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-48110982-1', 'expatcpa.com');
      ga('send', 'pageview');

      function init() {
	<%= render 'layouts/load_workers' %>
	<%= render 'layouts/testify' %>
      }
      onload = init;
    </script>
  </body>
</html>
