<!DOCTYPE html>
<html>
  <%= render 'layouts/standard_head' %>
  <body class="center">
    <div id="whole-background" class="w100 pa">
      <div class="w100" id="black-band"></div>
      <div class="w100" id="white-touch"></div>
      <div class="w100" id="gradient-band"></div>
    </div>
    <div class="pr">
      <div id="container-wrapper">
        <%= render 'layouts/standard_container' %>
      </div>
    </div>
    <% unless @cms_page.blank? || cms_page_content(:function_script).blank? %>
      <script>
	var counter = 0;
	var timerOn = false;

	var testimonies = [];
	var workerList = {};

	function testify(tes){
	  if (timerOn == false) {
	    testimonies = tes;
	    timerOn = true;
	    setInterval(startTestimonies, 10000);
	  }  
	}

	function startTestimonies() {
	  counter++;
	  if (counter >= testimonies.length) counter = 0;
	  $("div.exerpt").fadeOut('slow', testimony2);
	}
	function testimony2() {
	  $("div.exerpt").html(testimonies[counter]);
	  $("div.exerpt").fadeIn();
	}

	function workerSelector(workers) {
	  workerList = workers;
	}

	function swapWorker(label) {
	  var i = new Image();
	  i.src = workerList[label][0];
	  $("#worker").stop();
	  $("#worker").fadeTo("slow", 0.01);
	  i.onload = function() {
	    $("#worker").stop();
	    $("#worker").fadeTo("slow", 1);
	    $("#worker img").attr('src', i.src);
	    if (i.width > 899){
	      $("#worker img").removeClass("fl");
	      $("#worker img").addClass("w100");
	    }
	    else {
	      $("#worker img").removeClass("w100");
	      $("#worker img").addClass("fl");
	    }
	  $('#worker').children().not('img').remove();
	  $("#worker").append(workerList[label][1]);
	  $("#worker").append('<div class="clear"></div>');
	  }
	}
	<%= cms_page_content(:function_script) %>
      </script>
    <% end %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-48110982-1', 'expatcpa.com');
      ga('send', 'pageview');

    </script>
  </body>
</html>
