<!DOCTYPE html>
<html>
  <%= render 'layouts/standard_head' %>
  <body class="center">
    <div id="whole-background" class="w100 pa">
      <div class="w100" id="black-band"></div>
      <div class="w100" id="white-touch"></div>
      <div class="w100" id="gradient-band"></div>
    </div>
    <div class="pr">
      <div id="container-wrapper">
        <%= render 'layouts/standard_container' %>
      </div>
    </div>
    <% unless @cms_page.blank? || cms_page_content(:function_script).blank? %>
      <script>
	<%= cms_page_content(:function_script) %>
      </script>
    <% end %>
  </body>
</html>
